<div id="signin-intro" class="ms-Grid-row">
    <h1>Register the sample app</h1>
    <div class="ms-Grid-col ms-u-sm12">
        <p>
            To register your app, we will take you to the <i>Microsoft Application Registration portal</i> where you will be able to get an App ID and redirect URL. You will need either a <a href="http://dev.office.com/devprogram">school or work</a> or <a href="https://signup.live.com/signup?wa=wsignin1.0&ct=1473983465&rver=6.6.6556.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f&id=292841&CBCXT=out&cobrandid=90015&bk=1473983466&uiflavor=web&uaid=3b7bae8746264c1bacf1db2b315745cc&mkt=EN-US&lc=1033&lic=1">Microsoft account</a>.
        </p>
        <br />
    </div>
</div>

<div id="secretNeededMessage" hidden class="yellowNote">
    Heads up: At the Application Registration portal, you will also generate an <b>App Secret</b>. Please retain that App Secret, as you will need it to run the sample app. If you forget it, you will need to restart this flow.
</div>
<div id="mobileFirstMessage">This sample app will work for most users*.</div>

<div class="col-sm-2" style="padding:0">
    <button class="button responsive-btn" value="let's go'" id="go-reg-app">
        Let's go&nbsp;&nbsp;
        <span class="icon_seemore"></span>
    </button>
</div>

<div id="mobileMessage" hidden class="yellowNote">
    <b>*Building an app for enterprise users only?</b> Use Azure Active Directory V1. Here is <a id="fineprintlink" style="cursor: pointer">why</a>. <a id="v1Link" href="#">Get Started with this code sample</a>.
</div>

@*<div id="signin-options" class="row">
        <div class="col-sm-6">
            <button class="button responsive-btn" value="Sign in with your Office 365 account" id="app-reg-signin">
                Sign in with your Office 365 account&nbsp;&nbsp
                <span class="icon_seemore"></span>
            </button>
        </div>
        <div class="col-sm-6">
            <button class="button responsive-btn" id="signup-new-account">
                Sign up for a free Office 365 account&nbsp;&nbsp
                <span class="icon_seemore"></span>
            </button>
        </div>
    </div>
    <div class="spacer20 row"></div>*@

<div style="clear:both;"></div>
<div class="spacer20 row ms-bgColor-error ms-borderColor-error">
    <p id="signin-error_msg" class="ms-font-xl ms-font-color-error ms-fontWeight-xl">@ViewBag.SigninError</p>
</div>