<div class="card" id="intro" name="1. Get Started">
    <div><h1>Microsoft Graph Quick Start</h1></div>
    <p>
        This quick start will let you try out calls, register your app, and download a sample app that connects to data using Microsoft Graph. The sample app sends an email on a user's behalf. It will show you how to authenticate and make calls to Microsoft Graph using a school or work or a Microsoft account.
    </p> 
    <div id="fineprint" class="fineprintModal">
        <div class="fineprintInner">
            <div class="fineprintRow">
                <div class="fineprintCol">
                    <div class="fineprintContainer" tabindex="0">
                        <br />
                        <ol>
                            <li>
                                This Microsoft Graph quick start uses the v2.0 endpoint for authentication and app registration. We recommend the v2.0 endpoint for personal accounts. Note that not all authentication scenarios are currently supported on the v2.0 endpoint and it is not recommended for enterprise scenarios; for details, see <a href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-v2-limitations/" target="_blank">Should I use the v2.0 endpoint?</a> If you are building for enterprise, see <a href="http://dev.office.com/getting-started/office365apis" target="_blank">Getting Started  (V1.0 endpoint).</a> @*TODO*@
                                <p class="spacer20"></p>
                            </li>
                            <li>
                                If you have an existing hotmail.com, live.com, or outlook.com account, your mailbox might not support calls using the Microsoft Graph or the Outlook endpoint.  We’re working on this. In the meantime, if you’d like to use the APIs to access consumer services such as Outlook.com or OneDrive.com, we suggest that you <a href="https://signup.live.com/signup?wa=wsignin1.0&ct=1473983465&rver=6.6.6556.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f&id=292841&CBCXT=out&cobrandid=90015&bk=1473983466&uiflavor=web&uaid=3b7bae8746264c1bacf1db2b315745cc&mkt=EN-US&lc=1033&lic=1" target="_blank">create a new Microsoft account.</a>
                                <p class="spacer20"></p>
                            </li>
                            <li>
                                If you plan to use services such as Groups, OneDrive for Business, Azure Active Directory, Planner, or Excel, you will need a work or school account. If you don’t have one, you can join the <a href="http://dev.office.com/devprogram" target="_blank">Office 365 Developer program</a> to get a free 1-year subscription.
                                <p class="spacer20"></p>
                            </li>
                        </ol>
                        <div style="text-align:center">
                            <button class="button responsive-btn" value="Got it" id="GotIt">
                                Got it
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

