@if (Session[Graph.GettingStarted.Utils.Constants.userLoggedInStr] != null &&
    (bool)Session[Graph.GettingStarted.Utils.Constants.userLoggedInStr] == true)
{
    <text>
            Signed in as @Session[Graph.GettingStarted.Utils.Constants.azureUserEmailTagStr]!
            @Html.ActionLink(T("Sign out").ToString(), "SignOut", "Account", routeValues: new { area = "Graph.GettingStarted" }, htmlAttributes: new { id = "loginLink" })
    </text>
}
else
{
    
    
    
    @Html.ActionLink(T("Sign in to try your data").ToString(), "SignIn", "Account", routeValues: new { area = "Graph.GettingStarted" }, htmlAttributes: new { id = "loginLink" })
    <span>or <a href="http://dev.office.com/devprogram" target="_blank">sign up for a free Office 365 developer account</a>.</span>
}
<div class="spacer20 row ms-bgColor-error ms-borderColor-error">
    <p id="signin-error_msg" class="ms-font-xl ms-font-color-error ms-fontWeight-xl">@ViewBag.SigninError</p>
</div>