<script>
    $(document).ready(function () {
        //Update code samples link if on a specific product
        if (currentProduct != null && currentProduct != "") {
            var href = $("#nextStepCodeSamplesLink").attr("href");
            $("#nextStepCodeSamplesLink").attr("href", href + "," + currentProduct);
        }
    });
</script>

<div class="card" id="next-step" name="6. More resources">
    <h1>More Resources</h1>
    <div>        
        <button class="resourceOption col-xs-12 col-sm-4 col-md-4" onclick="window.open('http://graph.microsoft.io/docs');">
            <img class="img-responsive imgGS imgSelectApp" src=@Microsoft.Web.Portal.Common.Environment.GetMediaUrl("/media/Default/GettingStarted/devOffice_getting_started_reference_70x56.png") alt="Microsoft Graph Documenation" />
            <h4>Microsoft Graph Documentation</h4>
        </button>
        <button class="resourceOption col-xs-12 col-sm-4 col-md-4" onclick="window.open('http://graph.microsoft.io/code-samples-and-sdks');">
            <img class="img-responsive imgGS imgSelectApp" src=@Microsoft.Web.Portal.Common.Environment.GetMediaUrl("/media/Default/GettingStarted/devOffice_getting_started_morecodesamples_56x56.png") alt="code samples" />
            <h4>Code samples</h4>
        </button>
        <button class="resourceOption col-xs-12 col-sm-4 col-md-4" onclick="window.open('https://apps.dev.microsoft.com/');">
            <img class="img-responsive imgGS imgSelectApp" src=@Microsoft.Web.Portal.Common.Environment.GetMediaUrl("/media/Default/GettingStarted/devOffice_getting_started_azure_74x52.png") alt="Microsoft Application Registration Portal" />
            <h4>App Registration</h4>
        </button>            
        <div style="clear:both;"></div>
    </div>
</div>


